<% layout('layouts/boilerplate') -%>

<h2>this new ejs file</h2>
<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
<div><input type="text" name="post[title]" placeholder="title"value="<%= post.title%>"></div>
<div><input type="number" name="post[price]" step="0.1" placeholder="price"value="<%= post.price%>"></div>
<div>
    <input type="file"  id="imageUpload"accept="images/*" name="images" multiple />
    <div>
        <% post.images.forEach(function(image,i) { %>
        <img src="<%= image.path %>" alt="Surf board image" width="100px" height="100px">
        <label for="image<%= i%>">Delete?</label>
        <input type="checkbox" name="deleteImages[]
        " class="imageDeletionCheckbox" id="image<%=i%>" value="<%=image.filename %>">
        <% }); %>
    </div>
</div>
<div><textarea name="post[description]" placeholder="description" value="<%= post.description%>"></textarea></div>
<div><input type="text" name="post[location]" placeholder="location"value="<%=post.location%>"></div>
<div><input type="submit"></div>


</form>
<script src="/javascripts/post-edit.js"></script>